#
# Python stuff
#
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
# Node.js stuff
#
server/rpm-api-server-nodejs/node_modules/

#
# All kinds of log files
#
*.log

# C extensions
*.so

#
# Config files for dev environment
#
/core/scripts/cron/config.yaml


#
# Miscellaneous 
#
.idea


